.filterContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
  }
  
  .filterInput,
  .searchButton {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .tags {
    background-color: #1f1f1f; 
    color: white;
  }
  
  .date {
    background-color: #1f1f1f; 
    color: white;
  }
  
  .duration {
    background-color: #1f1f1f;
    color: white;
  }
  
  .searchButton {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
  }
  
  .backgroundc{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }

.durationDisplay {
  color: black;
  margin-left: 10px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.filterInput[type="range"] {
  width: 30%;
  background: green; 
}

.filterInput[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  border-radius: 50%;
}





.durationDisplay {
  margin-left: 10px;
  color: #fff;
  background-color: #1f1f1f;
  padding: 5px 10px;
  border-radius: 4px; 
}


.searchInput {
  padding: 10px;
  margin-right: 8px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 10px 15px;
  background-color: #646cff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #5a5fcf;
}


.searchBar{
  font-size: 18px;
  padding: 5px;
  height: 45px;
}




