.box {
  background-color: #1f1f1f; 
  color: #fff; 
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  margin: 50px;
  transition: background-color 0.3s ease; 

}


.box:hover {

  background-color: #3a3a3a; 

}


.title {
  font-size: 20px; 
  margin-bottom: 8px;
  font-weight: 500; 
color: #fff;
}

.number {
  font-size: 18px;
  margin-bottom: 4px; 
}

.status {
  font-size: 16px; 
  font-weight: bold;
  display: inline-block; 
  padding: 4px 8px;
  border-radius: 4px;
}

.positive {
  background-color: #21ba45;
  color: #fff; 
}

.negative {
  background-color: #db2828;
  color: #fff;
}

.all {
  background-color: rgb(189, 49, 138); 
}