/* LoquorElementsContainer.module.css */
.container {
    padding-top: 12px;
    background-color: #181818;
    border: 1px solid #4B5563;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 94%;
  }
  
  .section {
    padding: 32px;
  }
  
  .heading {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
  }
  
  .button {
    margin-top: 16px;
    margin-left: 16px;
    color: #ff3294;
    cursor: pointer;

  }
  
  .button:hover {
    color: #ed99c2;
  }
  
  .flexCenterColumn {
 margin-top: 40px;
  }

.playButtonContainer {
  width: 4rem;
  height: 4rem; 
  margin-bottom: 1rem;
  background-color: #ff3294; 
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.playButtonContainer:hover {
  background-color: #ff6db4;
}

.playButtonImage {
  width: 50%; 
}

  