/* LoquorElement.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    padding: 16px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    height: 90px;
  }
  
  .container:hover {
    background-color: #282828;
  }
  
  .content {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem; 
    width: 40px; 
  }
  
  .image {
    height: 32px;
    width: 32px;
    border-radius: 9999px; 
  }
  
  .title {
    font-weight: 600;
    color: white;
  }
  
  .duration {
    color: #9CA3AF; 
    font-size: 0.75rem; 
  }
  
  .playButton {
    display: none;
    height: 24px; 
    width: 24px; 
  }
  

.votingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.voteButton {
  border: none;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.voteButton:hover {
  background-color: #ccc;
}

.tag {
  background-color: #eee; 
  color: #333;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block; 
}
