/* LoquorPage.module.css */
.pageContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 10px; 
    position: relative;
  }
  
  .contentContainer {
    padding-top: 2.5rem;
  }
  
  .flexWrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar {
    width: 100%;
    padding-right: 0.5rem;
  }
  
  .mainContent {
    width: 100%;
    padding-right: 0.5rem;
  }
  
  @media (min-width: 1024px) {

  
    .mainContent {
      width: 100%;
    }
  }
  